body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

img {

    max-width: 100%;

}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.containerHeder {
    height: 100vh;
    background-color: blue;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
    display: flex;
    justify-content: center;
    align-items: center;

}

.containMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}


.item h1 {
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: #fff;
}

.item p {
    color: #fff;
    font-size: 16px;
    line-height: 2rem;
    margin: 2rem 0;
}

.item button {
    width: 10rem;
    height: 3rem;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.item button a {
    color: #fff;
    text-decoration: none;
}

.item:nth-of-type(2) {
    display: flex;
    justify-items: center;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 5rem 0;
}

nav .contenedor {
    display: flex;
    justify-content: space-between;
}

.contenedor .containerL {
    display: inherit;
}

.containerL img {
    height: 100px;
    width: 120px;
    font-size: 2rem;

}

.containerLinks {
    margin-left: 4rem;

}

.containerLinks a {
    margin-left: 2.7rem;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: none;
}

.containerR {

    display: inherit;
    align-items: center;

}

.containerR button {
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.containerR button a {
    color: #fff;
    text-decoration: none;

}

.containerRA {
    display: flex;
    gap: 20px;
    position: static;
    bottom: 20px;
    right: 20px;

}







.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
}


.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    

}
.imagen:hover{
    transform: translateY(-10px);
}

.imagen img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 2px;
    margin-bottom: 10px;
    margin: 10px;
  }
  
  .imagen h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  
  .imagen p {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }








.entrenadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
  }
  
  .entrenador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    border-radius: 20px;
    height: 340px;
    width: 240px;

  }
  
  .entrenador:hover {
    transform: translateY(-10px);
  }
  
  .entrenador img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 2px;
    margin-bottom: 10px;
    margin: 20px;
  }
  
  .entrenador h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  
  .entrenador p {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }


  
.interfaz {
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
    margin-bottom: 30px;
}
  .subscription-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
  }
  
  .subscription-form h2 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003797;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

  }
  button[type="submit"] a {
    text-decoration: none;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #005eff;
  }
  .form-group:focus-within input[type="text"],
.form-group:focus-within input[type="email"] {
  border-color: #0077ff;
  box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
}
  
.map {
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff);
}